<div class="">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="wel-pb">Password Security Requirement</h3>
            <p class="wel-pb">
                <strong>Password must contain the following:</strong></p>
                <ul>
                    <li><p class="msg-pl wel-pb">At least one <strong>lowercase</strong> letter </p></li>
                    <li><p class="msg-pl wel-pb">At least one <strong>uppercase(capital)</strong> letter</p></li>
                    <li><p class="msg-pl wel-pb">At least one <strong>number</strong></p></li>
                    <li><p class="msg-pl wel-pb">At least one <strong>symbol</strong></p></li>
                    <li><p class="msg-pl wel-pb">Minimum 8 characters</p></li>
                </ul>  
        </div>
        <div class="col-lg-6">
            <div class="login-form comm-border d-flex align-items-center justify-content-center float-left">
                <form [formGroup]="resetPasswordForm">
                    <h2 class="form-h-pt form-h-pb">Create Your New Password</h2>
                    <div class="form-group">
                        <label for="password1">Enter New Password</label>
                        <input id="password1" type="password" class="form-control comm-border"
                            formControlName="enterPassword" appHideShowPass>
                    </div>
                    <div class="form-group">
                        <label for="password2">Password</label>
                        <input id="password2" type="password" class="form-control comm-border"
                            formControlName="confirmPassword" appHideShowPass>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn login-btn btn-main" [disabled]="!resetPasswordForm.valid"
                            (click)="submitNewPassword()">Save, and Continue to Sign In</button>
                    </div>
                    <ng-container *ngIf="(f.enterPassword.touched) && f.enterPassword.errors?.required">
                        <div class="txt-red">
                            <app-form-messaging [success]="!f.enterPassword.errors?.required" [innerHtml]="'Password is required.'">
                            </app-form-messaging>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="(f.enterPassword.dirty) && f.enterPassword.errors?.pattern">
                        <div class="txt-red">
                            <app-form-messaging [success]="!f.enterPassword.errors?.pattern" [innerHtml]="'Password must contain eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.'">
                            </app-form-messaging>
                        </div>
                    </ng-container>
                    <div *ngIf="formSubmitted && (f.enterPassword.value !== f.confirmPassword.value)" class="text-center mt-5">
                        <app-form-messaging [success]="!(f.enterPassword.value !== f.confirmPassword.value)" [innerHtml]="'The passwords you entered do not match. Try re-entering your new password.'">
                        </app-form-messaging>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>