<form *ngIf="advocacyInfo" [formGroup]="formAdvocacy">
    <div class="card w-100 p-3">
        <h5 class="card-header">Edit Advocacy</h5>
        <div class="card-body">
            <div id="edit-advocacy-dup" class="form-row">
                <div id="edit-advocacy-dup" class="form-group col-md-6">
                    <label for="patientMrn" class="col-sm-6 col-form-label">MRN</label>
                    <input type="text" class="form-control" formControlName="patientMrn" />
                </div>
                <div id="edit-advocacy-dup" class="form-group col-md-6">
                    <label for="facilityId" class="col-sm-6 col-form-label">Facility</label>
                    <input type="text" class="form-control" formControlName="facilityName" />
                </div>
            </div>
            <div id="edit-advocacy-dup" class="form-row">
                <div id="edit-advocacy-dup" class="form-group col-md-6">
                    <label for="drugCode" class="col-sm-6 col-form-label">Drug for Advocacy</label>
                    <input type="text" class="form-control" formControlName="drugCode" />
                </div>
                <div id="edit-advocacy-dup" class="form-group col-md-6">
                    <label for="advocacyStatusId" class="col-sm-6 col-form-label">Advocacy Status <span
              class="required">*</span></label>
                    <select class="custom-select" formControlName="advocacyStatusId" [ngClass]="{
                'is-invalid': (f.advocacyStatusId.dirty || f.advocacyStatusId.touched || submitted) && f.advocacyStatusId.errors
              }">
            <option value="" selected>Select Advocacy Status</option>
            <option *ngFor="let a of advocacyStatuses" value="{{ a.advocacyStatusId }}">
              {{ a.advocacyStatusName }}
            </option>
          </select>
                    <div id="edit-advocacy-dup" *ngIf="(f.advocacyStatusId.dirty || f.advocacyStatusId.touched || submitted) && f.advocacyStatusId.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup" *ngIf="f.advocacyStatusId.errors.required" class="txt-red">
                            Advocacy Status is required
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-advocacy-dup" class="form-row">
                <div id="edit-advocacy-dup" class="form-group col-md-12">
                    <label for="diagnosisCode" class="col-sm-6 col-form-label">Diagnosis for Advocacy<span
              class="required">*</span></label>
                    <ng-select formControlName="diagnosisCode" [items]="icdCodesFiltered$ | async" bindLabel="icdValue" bindValue="icdId" [minTermLength]="minLengthTerm" [loading]="icdCodesLoading" [typeahead]="icdCodesInput$" [virtualScroll]="true" [editableSearchTerm]="true"
                        placeholder="Search for ICD Code or Description" [ngClass]="{'is-invalid': (f.diagnosisCode.dirty || f.diagnosisCode.touched || submitted) && f.diagnosisCode.errors}">
                        <ng-template ng-option-tmp let-item="item">
                            <span [title]="item.icdValue" class="ng-option-label">{{item.icdValue}}</span>
                        </ng-template>
                    </ng-select>
                    <div id="edit-advocacy-dup" *ngIf="(f.diagnosisCode.dirty || f.diagnosisCode.touched || submitted) && f.diagnosisCode.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup" *ngIf="f.diagnosisCode.errors.required" class="txt-red">
                            Diagnosis for Advocacy is required
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-advocacy-dup" class="form-row">
                <div id="edit-advocacy-dup" class="form-group col-md-6">
                    <label for="advocacyTypeId" class="col-sm-6 col-form-label">Advocacy Type<span
              class="required">*</span></label>
                    <select class="custom-select" formControlName="advocacyTypeId" [ngClass]="{
                'is-invalid': (f.advocacyTypeId.dirty || f.advocacyTypeId.touched || submitted) && f.advocacyTypeId.errors
              }">
            <option value="" selected>Select Advocacy Type</option>
            <option *ngFor="let a of advocacyTypes" value="{{ a.advocacyTypeId }}">
              {{ a.advocacyTypeName }}
            </option>
          </select>
                    <div id="edit-advocacy-dup" *ngIf="(f.advocacyTypeId.dirty || f.advocacyTypeId.touched || submitted) && f.advocacyTypeId.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup" *ngIf="f.advocacyTypeId.errors.required" class="txt-red">
                            Advocacy Type is required
                        </div>
                    </div>
                </div>
                <div id="edit-advocacy-dup" class="form-group col-md-6" *ngIf="!drugAdvocacyId">
                    <label for="advocacySource" class="col-sm-6 col-form-label">Advocacy Source <span
              class="required">*</span></label>
                    <input type="text" class="form-control" id="advocacySource" formControlName="advocacySource" [ngClass]="{
                'is-invalid': (f.advocacySource.dirty || f.advocacySource.touched || submitted) && f.advocacySource.errors
              }" />

                    <div id="edit-advocacy-dup" *ngIf="(f.advocacySource.dirty || f.advocacySource.touched || submitted) && f.advocacySource.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup" *ngIf="f.advocacySource.errors.required" class="txt-red">
                            Advocacy Source is required
                        </div>
                        <div id="edit-advocacy-dup2" *ngIf="f.advocacySource.errors.maxlength" class="txt-red">
                            Advocacy Source should be of max 200 characters length
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-advocacy-dup2" class="form-row" *ngIf="!!drugAdvocacyId">
                <div id="edit-advocacy-dup2" class="form-group col-md-12">
                    <div id="edit-advocacy-dup2" class="card">
                        <div id="edit-advocacy-dup2" class="card-header container-fluid">
                            <div id="edit-advocacy-dup2" class="row">
                                <div id="edit-advocacy-dup2" class="col-md-11">
                                    <h5>Advocacy Sources</h5>
                                </div>
                            </div>
                        </div>
                        <div id="edit-advocacy-dup2">
                            <ng-container *ngFor="let websiteForm of drugAdvocacyWebSites; index as i">
                                <div id="edit-advocacy-dup2" class="form-row ml-2 mr-2">
                                    <div id="edit-advocacy-dup2" class="form-group col-1">
                                        <input type="radio" name="advocacySource" formControlName="advocacySource" [value]="websiteForm.drugAdvocacyWebsiteId" />
                                    </div>
                                    <div id="edit-advocacy-dup2" class="form-group col-11">
                                        <a [href]="websiteForm.website" target="_blank"> {{websiteForm.website}}</a>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

            <div id="edit-advocacy-dup2" class="form-row">
                <div id="edit-advocacy-dup2" class="form-group col-md-6">
                    <label for="startDate" class="col-sm-6 col-form-label">Start Date</label>
                    <div id="edit-advocacy-dup2" class="form-inline">
                        <input class="form-control col-sm-11" placeholder="mm/dd/yyyy" name="startDate" ngbDatepicker #dfs="ngbDatepicker" formControlName="startDate" [ngClass]="{ 'is-invalid': (f.startDate.dirty || f.startDate.touched || submitted) && f.startDate.errors }"
                        />
                        <button class="btn calendar col-sm-1" style="padding: 1.375rem 0.75rem;" (click)="dfs.toggle()" type="button"></button>
                        <div id="edit-advocacy-dup3" *ngIf="(f.startDate.dirty || f.startDate.touched || submitted) && f.startDate.errors" class="invalid-feedback">
                            <div id="edit-advocacy-dup3" *ngIf="(f.startDate.dirty || f.startDate.touched || submitted) && f.startDate.errors?.ngbDate?.invalid" class="txt-red">
                                Start date should be in mm/dd/yyyy format
                            </div>
                        </div>
                    </div>
                </div>
                <div id="edit-advocacy-dup3" class="form-group col-md-6">
                    <label for="endDate" class="col-sm-6 col-form-label">End Date</label>
                    <div id="edit-advocacy-dup3" class="form-inline">
                        <input class="form-control col-sm-11" placeholder="mm/dd/yyyy" name="endDate" [ngClass]="{ 'is-invalid': (f.endDate.dirty || f.endDate.touched || submitted) && f.endDate.errors }" ngbDatepicker #dfe="ngbDatepicker" formControlName="endDate" />
                        <button class="btn calendar col-sm-1" style="padding: 1.375rem 0.75rem;" (click)="dfe.toggle()" type="button"></button>
                        <div id="edit-advocacy-dup3" *ngIf="(f.endDate.dirty || f.endDate.touched || submitted) && f.endDate.errors" class="invalid-feedback">
                            <div id="edit-advocacy-dup3" *ngIf="(f.endDate.dirty || f.endDate.touched || submitted) && f.endDate.errors?.dateGreaterThan" class="txt-red">
                                End date cannot be less than start date
                            </div>
                            <div id="edit-advocacy-dup3" *ngIf="(f.endDate.dirty || f.endDate.touched || submitted) && f.endDate.errors?.ngbDate?.invalid" class="txt-red">
                                End date should be in mm/dd/yyyy format
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-advocacy-dup3" class="form-row">
                <div id="edit-advocacy-dup3" class="form-group col-md-6 ">
                    <label for="lookBack" class="col-sm-6 col-form-label">Look Back</label>
                    <input type="text" class="form-control" id="lookBack" formControlName="lookBack" [ngClass]="{
            'is-invalid': (f.lookBack.dirty || f.lookBack.touched || submitted) && f.lookBack.errors }" style="margin-top: 4px;" />
                    <div id="edit-advocacy-dup3" *ngIf="(f.lookBack.dirty || f.lookBack.touched || submitted) && f.lookBack.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup3" *ngIf="f.lookBack.errors.maxlength" class="txt-red">
                            Look Back should be of max 50 characters length
                        </div>
                        <div id="edit-advocacy-dup3" *ngIf="(f.lookBack.dirty || f.lookBack.touched || submitted) && f.lookBack.errors.pattern" class="txt-red">
                            Look Back should be alphanumeric
                        </div>
                    </div>
                </div>
                <div id="edit-advocacy-dup3" class="form-group col-md-6">
                    <label for="lookBackStartDate" class="col-sm-6 col-form-label">Look Back Start Date</label>
                    <div id="edit-advocacy-dup3" class="form-inline">
                        <input class="form-control col-sm-11" placeholder="mm/dd/yyyy" name="lookBackStartDate" ngbDatepicker #dfl="ngbDatepicker" formControlName="lookBackStartDate" [ngClass]="{ 'is-invalid': (f.lookBackStartDate.dirty || f.lookBackStartDate.touched || submitted) && f.lookBackStartDate.errors }"
                        />
                        <button class="btn calendar col-sm-1" style="padding: 1.375rem 0.75rem;" (click)="dfl.toggle()" type="button"></button>
                        <div id="edit-advocacy-dup3" *ngIf="(f.lookBackStartDate.dirty || f.lookBackStartDate.touched || submitted) && f.lookBackStartDate.errors" class="invalid-feedback">
                            <div id="edit-advocacy-dup4" *ngIf="(f.lookBackStartDate.dirty || f.lookBackStartDate.touched || submitted) && f.lookBackStartDate.errors?.ngbDate?.invalid" class="txt-red">
                                Look back start date should be in mm/dd/yyyy format
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-advocacy-dup4" class="form-row">

            </div>
            <div id="edit-advocacy-dup4" class="form-row">
                <div id="edit-advocacy-dup4" class="form-group col-md-6">
                    <label for="notes" class="col-sm-6 col-form-label">Notes</label>
                    <textarea rows="3" type="text" formControlName="notes" class="form-control" maxlength="1000"></textarea>
                </div>
                <div id="edit-advocacy-dup4" class="form-group col-md-6">
                    <label for="maxAmountAvail" class="col-sm-6 col-form-label" style="max-width: 100%">Maximum Amount Available
            <span class="required">*</span></label>
                    <input type="text" maxlength="13" placeholder="$" oninput="this.value=this.value.replace(/[^0-9,.]/g,'');" class="form-control" id="maxAmountAvail" formControlName="maxAmountAvail" [ngClass]="{
                  'is-invalid': (f.maxAmountAvail.dirty || f.maxAmountAvail.touched || submitted) && f.maxAmountAvail.errors
                }" />
                    <div id="edit-advocacy-dup4" *ngIf="(f.maxAmountAvail.dirty || f.maxAmountAvail.touched || submitted) && f.maxAmountAvail.errors" class="invalid-feedback">
                        <div id="edit-advocacy-dup4" *ngIf="f.maxAmountAvail.errors.required" class="txt-red">
                            Maximum Amount Available is required
                        </div>
                        <div id="edit-advocacy-dup4" *ngIf="f.maxAmountAvail.errors.pattern" class="txt-red">
                            Maximum amount Available allows a max length of 10 digits with two optional decimals
                        </div>
                    </div>
                </div>
            </div>

            <app-file-attachments
              attachmentTransmissionInterfaceName="PatientService"
              [fileAttachmentData]="fileAttachmentData"
              (fileAttachmentsChanged)="onFileAttachmentsChanged($event)">
            </app-file-attachments>

        </div>
        <div id="edit-advocacy-dup5" class="card-footer">
            <div class="float-right">
                <button [disabled]="!(formAdvocacy.dirty || isAttachmentUpdated())" class="btn btn-primary  mr-3" (click)="onSubmit()">
          <em class="fas fa-check"></em> Update
        </button>
                <button [disabled]="!(formAdvocacy.dirty || isAttachmentUpdated())" class="btn btn-primary mr-3" (click)="onClear()">
          <em class="fas fa-refresh"></em> Clear
        </button>
                <button class="btn btn-primary" (click)="onCancel()">
          <em class="fa fa-times"></em> Cancel
        </button>
            </div>
        </div>
    </div>
</form>
