.p-accordion .p-accordion-header .p-accordion-header-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
    text-decoration: none;
    color: #e85637 !important;
    background-color: #e9e9f1 !important;
    text-decoration-line: none !important;
}
