<div>
    <div class="row mb-1">
        <div class="col-md-12">
            <app-search-revenue id="drugMaintId" placeholderText="Search for Drug Code or Short Description or Long Description or Brand Name or Generic Name" (setValue)="onSearch($event)"></app-search-revenue>
        </div>
    </div>
    <div class="row" *ngIf="showError" style="padding: 0.5em">
        <div class="col-sm-6">
            <h6 style="color: red">No records found!</h6>
        </div>
    </div>

    <div *ngIf="showViewDrugGrid">
        <div class="row">
            <div class="col-md-12">
                <p-table #drugProcTable [value]="drugDatasource" [lazy]="true" (onLazyLoad)="loadDrugDetails($event)" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]" [totalRecords]="drugTotalRecords" [loading]="drugProcloading" styleClass="p-datatable-striped" [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col">Action</th>
                            <th scope="col">Drug/Procedure Code</th>
                            <th scope="col">Short Description</th>
                            <th scope="col">Long Description</th>
                            <th scope="col">Brand Name</th>
                            <th scope="col">Generic Name</th>
                            <th scope="col">Local Coverage Determination</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-drug>
                        <tr>
                            <td style="padding-top: 0%">
                                <button class="btn btn-link" (click)="onEdit(drug)">Edit</button>
                                <button class="btn btn-link" (click)="onDelete(drug.drugId)">
                                    Delete
                                </button>
                            </td>
                            <td style="padding-top: 0%; width: 200px;">
                                <button class="btn btn-link" (click)="onEdit(drug)">
                                    {{ drug.drugProcCode }}
                                </button>
                            </td>
                            <td>{{ drug.shortDesc }}</td>
                            <td>{{ drug.longDesc }}</td>
                            <td>{{ drug.brandName }}</td>
                            <td>{{ drug.genericName }}</td>
                            <td>{{ drug.lcd }}</td>
                            <td>{{ drug.notes }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showForm">
        <form class="col-md-12 needs-validation" [formGroup]="drugForm">
            <div class="card w-100 p-3">

                <h5 class="card-header">Edit Drug/Procedure Code</h5>

                <div class="card-body">
                    <div class="form-group row">
                        <label for="drugProcCode" class="col-sm-6 col-form-label">Code (HPCSC, CPT4, APC)
                        </label>
                        <label for="shortDesc" class="col-sm-6 col-form-label">Short Description</label>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly formControlName="drugProcCode" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly formControlName="shortDesc" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="longDesc" class="col-sm-6 col-form-label">Long Description</label>
                        <label for="brandName" class="col-sm-6 col-form-label">Brand Name</label>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly formControlName="longDesc" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly formControlName="brandName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="genericName" class="col-sm-6 col-form-label">Generic Name</label>
                        <label for="lcd" class="col-sm-6 col-form-label">
                            Local Coverage Determination
                        </label>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" readonly formControlName="genericName" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" formControlName="lcd" [ngClass]="{ 'is-invalid': (f.lcd.touched || f.lcd.dirty || submitted) && f.lcd.errors }" />
                            <div *ngIf="(f.lcd.touched || f.lcd.dirty || submitted) && f.lcd.errors" class="invalid-feedback">
                                <div *ngIf="f.lcd.errors.pattern" class="txt-red">
                                    Local Coverage Determination value should be alphanumeric
                                </div>
                                <div *ngIf="f.lcd.errors.maxlength" class="txt-red">
                                    Local Coverage Determination should have maximum 7 characters
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="notes" class="col-sm-4 col-form-label">Notes</label>
                    </div>

                    <div>
                        <textarea rows="3" type="text" formControlName="notes" class="form-control" maxlength="1000" [ngClass]="{ 'is-invalid': (f.notes.touched || f.notes.dirty || submitted) && f.notes.errors }"></textarea>

                        <div *ngIf="(f.notes.touched || f.notes.dirty || submitted) && f.notes.errors" class="invalid-feedback">
                            <div *ngIf="f.notes.errors.maxlength" class="txt-red">
                                Notes should have maximum 1000 character
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button *ngIf="!isUpdate" class="btn btn-primary mr-3 " [disabled]="!drugForm.dirty" (click)="onSubmit()">
                            <em class="fas fa-check"></em> Submit
                        </button>

                        <button *ngIf="isUpdate" class="btn btn-primary mr-3 " [disabled]="!drugForm.dirty" (click)="onSubmit()">
                            <em class="fas fa-check"></em> Update
                        </button>

                        <button class="btn btn-primary mr-3" (click)="onReset()" [disabled]="!drugForm.dirty">
                            <em class="fas fa-eraser"></em> Clear
                        </button>

                        <button class="btn btn-primary " (click)="onCancel()">
                            <em class="fa fa-times"></em> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
