.form_style {
  width: 500px;
  margin: 50px;
  float: left;
}

.container {
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

h4 {
  color: #e85637 !important;
}

.drug-screen {
  padding: 20px;
}

.bg-white {
  margin-bottom: 1.5rem !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #e85637 !important;
  border-color: #e85637 !important;
}

.btn-orange {
  color: #fff;
  background-color: #e85637;
  border-color: #e85637;
}

.right {
  margin: 25px;
  float: right;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #efefef;
  border: 1px solid #dee2e6;
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 90%;
  color: #999;
}

.left-img {
  float: left;
  padding-left: 0;
}

.right-img {
  float: right;
}

.height-display {
  display: flow-root;
}

.drug-h1 {
  font-weight: 300 !important;
  color: #e85637;
}
