<form [formGroup]="formSearchWI" class="mt-2">
    <div class="card w-100 p-3">
        <h5 class="card-header">Work Item Maintenance</h5>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Facility</label>
                    <select id="facilityId" class="custom-select" formControlName="facilityId">
                        <option value="" selected>Select Facility</option>
                        <option *ngFor="let f of facilities" value="{{ f.facilityId }}">
                        {{ f.facilityName }}
                        </option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                    <label>MRN</label>
                    <input type="text" class="form-control" id="mrn" formControlName="mrn" />
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label class="col-sm-4">Date Out</label>
                    <div class="form-inline">
                        <input id="dateOut" class="form-control col-sm-11" placeholder="mm/dd/yyyy" name="dateOut" ngbDatepicker #df="ngbDatepicker" formControlName="dateOut" [ngClass]="{ 'is-invalid': (sf.dateOut.dirty || sf.dateOut.touched || searched) && sf.dateOut.errors }">
                        <button class="btn calendar form-control col-sm-1" (click)="df.toggle()" type="button"></button>
                        <div *ngIf="(sf.dateOut.dirty || sf.dateOut.touched || searched) && sf.dateOut.errors" class="invalid-feedback">
                            <div *ngIf="(sf.dateOut.dirty || sf.dateOut.touched || searched) && sf.dateOut.errors?.ngbDate?.invalid" class="txt-red">
                                Date Out should be in mm/dd/yyyy format
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="workItemStatusId">Work Item Status</label>
                    <select id="workItemStatusId" class="custom-select" formControlName="workItemStatusId">
                        <option value="" selected>Select Status</option>
                        <option
                        *ngFor="let w of wiStatuses"
                        value="{{ w.workItemStatusId }}">
                        {{ w.workItemStatusName }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Team Member</label>
                    <select id="teamMemberId" class="custom-select" formControlName="teamMemberId">
                        <option value="" selected>Select Team Member</option>
                        <option *ngFor="let member of wiTeamMembers" value="{{ member.userId }}" >
                        {{ member.userName }}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Order Type</label>
                    <select id="orderTypeId" class="custom-select" formControlName="orderTypeId">
                        <option value="" selected>Select Order Type</option>
                        <option *ngFor="let type of orderTypes" value="{{ type.orderTypeId }}" >
                        {{ type.orderTypeName }}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="card-footer ">
            <button class="btn btn-primary float-right" (click)="onReset()"><em class="fas fa-refresh"></em> Reset</button>
            <button class="btn btn-primary mr-3 float-right" (click)="onSearch()"><em class="fas fa-check"></em> Search</button>
        </div>
        <div class="row" *ngIf="showError" style="padding: 0.5em">
            <div class="col-sm-6">
                <h6 style="color: red">No records found!</h6>
            </div>
        </div>
        <div *ngIf="showGrid" class="report-grid-margin">
            <div class="row">
                <div class="col-md-12">
                    <p-table #wiTable [value]="datasource" [lazy]="true" (onLazyLoad)="loadWorkItemDetails($event)" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading" styleClass="p-datatable-striped" [autoLayout]="true" [sortMode]="'multiple'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col" [pSortableColumn]="'workItemId'">Work Item Number <p-sortIcon [field]="'workItemId'"></p-sortIcon></th>
                                <th scope="col" [pSortableColumn]="'patientMrn'">MRN <p-sortIcon [field]="'patientMrn'"></p-sortIcon></th>
                                <th scope="col" [pSortableColumn]="'workItemStatusName'">Work Item Status <p-sortIcon [field]="'workItemStatusName'"></p-sortIcon></th>
                                <th scope="col" [pSortableColumn]="'assignedToName'">Team Member Assigned <p-sortIcon [field]="'assignedToName'"></p-sortIcon></th>
                                <th scope="col">Order Type</th>
                                <th scope="col">Billing Type</th>
                                <th scope="col">Facility</th>
                                <th scope="col" [pSortableColumn]="'orderDate'">Order Date <p-sortIcon [field]="'orderDate'"></p-sortIcon></th>
<!--                                <th scope="col">Order Date</th>-->
                                <th scope="col" [pSortableColumn]="'diagnosisCodeValues'">Diagnosis Codes<p-sortIcon [field]="'diagnosisCodeValues'"></p-sortIcon></th>
                                <th scope="col">Drug/Procedure Codes</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-wi="">
                            <tr>
                                <td style="padding-top: 0%">
                                    <button class="btn btn-link" (click)="onEdit(wi.workItemId)" type="button">
                    {{ wi.workItemId }}
                  </button>
                                </td>
                                <td>{{ wi.patientMrn }}</td>
                                <td>{{ wi.workItemStatusName }}</td>
                                <td>{{ wi.assignedToName }}</td>
                                <td>{{ wi.orderTypeName }}</td>
                                <td>{{ wi.facilityBillingTypeName }}</td>
                                <td>{{ wi.facilityName }}</td>
                                <td>{{ wi.orderDate | date :'shortDate': 'UTC'}}</td>
                                <td>
                                    <!--{{getIcdCodesInfo(wi.icdCodes)}}-->
                                  {{ wi.icdCodes}}

                                </td>
                                <td>
                                    {{wi.drugCodes}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>
