<!-- 
<div  style="float: right;width: 25em;margin-left: 40px;margin-right: -128px;">
    <div class="row">
        <div class="col-sm-12">
            <h4 style ="color: #de324a;">Alerts: 24</h4>
        </div>
        <div class="col-sm-12 col-12">
            <div class="br-10px bg-mid-gray box-shadow my-3">
                <div class="p-4 pt-3 br-bottom-10px" style=" background-color:#9e9a9b;">
                    <h6 class="text-uppercase p- ls-1px fs-12px mb-2">
                    </h6>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <a [routerLink]="['/dashboard/admin/facilityApproval']"><h6 style="font-weight: bolder;color: white;white-space:nowrap;">Pending Work Items: 10</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-12">
            <div class="br-10px bg-mid-gray box-shadow my-3">
                <div class="p-4 pt-3 br-bottom-10px" style="background-color:#9e9a9b;">
                    <h6 class="text-uppercase p- ls-1px fs-12px mb-2">
                    </h6>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a [routerLink]="['/dashboard/admin/facilityApproval']"><h6 style="font-weight: bolder;color: white;white-space:nowrap;">Pending Facilities: 2</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="br-10px bg-mid-gray box-shadow my-3">
                <div class="p-4 pt-3 br-bottom-10px" style="background-color:#9e9a9b;">
                    <h6 class="text-uppercase p- ls-1px fs-12px mb-2">
                    </h6>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a [routerLink]="['/dashboard/admin/facilityApproval']"><h6 style="font-weight: bolder;white-space:nowrap;color: white;">Upcoming Appoinments: 7</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-12">
            <div class="br-10px bg-mid-gray box-shadow my-3">
                <div class="p-4 pt-3 br-bottom-10px" style="background-color:#9e9a9b;">
                    <h6 class="text-uppercase p- ls-1px fs-12px mb-2">
                    </h6>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <a [routerLink]="['/dashboard/admin/facilityApproval']"><h6 style="font-weight: bolder;white-space:nowrap;color: white;">No of patients needing advocacy:5</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->